a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
.side-bar {
  width: 300px;
  background-color: white;
  float: left;
}
.chat-side a {
  color: #FFF;
}
.side-head {
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.side-member{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
}
.main{
  width: calc(100vw - 300px);
  float: left;
}
.main-head{
  background-color: aqua;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;
  overflow: scroll;
}
.main-calendar{
  height: calc(100vh - 100px);
  background-color: #d3d3d3;
  padding: 20px 20px 0;
  overflow: scroll;
}